{% extends 'base.html.twig' %}

{% block body %}

<div class="home">
    <p>WELCOME WRITERS</p>
</div>

    <style>
        .home p{
            font-size: 60px;
            text-align:center;
        }
    </style>
{% endblock %}

